<!---------- Footer ---------->
<div class="contriner-fluid box-footer">
    <div class="container footer">
        <div class="col-xs-12">
            <h3 class="col-xs-12">Thông tin liên hệ</h3>
            <p class="col-xs-12">
                Nhóm 6 - INT3306 4
                <br>Điện thoại:
                <br>Email:
                <br>Địa chỉ: Đại học Công Nghệ-đại học Quốc Gia Hà Nội - Số 141 Xuân Thủy, Cầu Giấy, Hà Nội
                <br>Nhóm 6 - INT3306 4
            </p>
        </div>

    </div>
</div>