<!DOCTYPE html>
<html>
<head>

    <title>Kết quả tìm kiếm</title>
    <!---------- Include head ---------->
    <% include elements/headTag.ejs %>


</head>
<body>
    <!---------- Include header ---------->
    <% include elements/header.ejs %>

    <!---------- Include menu ---------->
    <% include elements/menu.ejs %>

    <!----- Searching result ----->
    <div class="container searching-result">

        <div class="col-lg-3 col-md-3 col-sm-4 left-div">
            <div class=" col-xs-12 filter">

                <div class="col-xs-12" style="border-bottom: solid 1px #eee; margin: 0px; padding: 15px;">
                    <h4 class="float-left">Bộ lọc</h4>
                    <button class="float-right" id="phone-filter-btn" style="background-color: white; color: #05a90c; font-weight: bold; outline: 0;">Điện thoại</button>
                    <button class="float-right" id="accessories-filter-btn" style="outline: 0;">Phụ kiện</button>
                </div>

                <!----- Bộ lọc của điện thoại ----->
                <div class="col-xs-12" id="phone-filter">
                    <div class="col-xs-12 filter-option">
                        <div class="col-xs-12">
                            <h5 class="float-left">Hãng điện thoại</h5>
                            <span class="float-right glyphicon glyphicon-plus" id="display-phone-company-filter-btn"></span>
                            <span class="float-right glyphicon glyphicon-minus" id="undisplay-phone-company-filter-btn"></span>
                        </div>
                        <div class="col-xs-12" id="phone-company-filter">
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;" checked>Tất cả
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Apple(iPhone)
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Samsung
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">OPPO
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Huawei
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Xiaomi
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">VSmart
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Nokia
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">HONOR
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Vivo
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Realme
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Asus
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Wiko
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Mobell
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">BlackBerry
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Mobiistar
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 filter-option">
                        <div class="col-xs-12">
                            <h5 class="float-left">Mức giá</h5>
                            <span class="float-right glyphicon glyphicon-plus" id="display-phone-price-filter-btn"></span>
                            <span class="float-right glyphicon glyphicon-minus" id="undisplay-phone-price-filter-btn"></span>
                        </div>
                        <div class="col-xs-12" id="phone-price-filter">
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Tất cả
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Dưới 1 triệu
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">1-3 triệu
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">3-6 triệu
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">6-10 triệu
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">10-15 triệu
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">15-25 triệu
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Trên 25 triệu
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 filter-option">
                        <div class="col-xs-12">
                            <h5 class="float-left">Hệ điều hành</h5>
                            <span class="float-right glyphicon glyphicon-plus" id="display-phone-operating-sys-filter-btn"></span>
                            <span class="float-right glyphicon glyphicon-minus" id="undisplay-phone-operating-sys-filter-btn"></span>
                        </div>
                        <div class="col-xs-12" id="phone-operating-sys-filter">
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Tất cả
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">IOS
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Android
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Window Phone
                            </div>
                        </div>
                    </div>
                </div>

                <!----- Bộ lọc của phụ kiện ----->
                <div class="col-xs-12" id="accessories-filter" style="display: none;">
                    <div class="col-xs-12 filter-option">
                        <div class="col-xs-12">
                            <h5 class="float-left">Loại phụ kiện</h5>
                            <span class="float-right glyphicon glyphicon-plus" id="display-acc-type-filter-btn"></span>
                            <span class="float-right glyphicon glyphicon-minus" id="undisplay-acc-type-filter-btn"></span>
                        </div>
                        <div class="col-xs-12" id="acc-type-filter">
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Tất cả
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Ốp lưng
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Thẻ nhớ
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Dán màn hình
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Loa
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Sạc cáp
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Sạc dự phòng
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Gậy selfie
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Tai nghe
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">USB-Ổ cứng
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Chuột
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 filter-option">
                        <div class="col-xs-12">
                            <h5 class="float-left">Mức giá</h5>
                            <span class="float-right glyphicon glyphicon-plus" id="display-acc-price-filter-btn"></span>
                            <span class="float-right glyphicon glyphicon-minus" id="undisplay-acc-price-filter-btn"></span>
                        </div>
                        <div class="col-xs-12" id="acc-price-filter">
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Tất cả
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Dưới 200 nghìn
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Từ 200-500 nghìn
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Từ 500 nghìn-1 triệu
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Từ 1-2 triệu
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Từ 2-5 triệu
                            </div>
                            <div class="col-xs-12" style="padding: 0px;">
                                <input type="checkbox" name="" style="margin-right: 15px;">Trên 5 triệu
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-8 right-div">
            <div class="col-xs-12 result">

                <!----- Phần title và sắp xếp ----->
                <div class="col-xs-12">
                    <h4 class="float-left" style="margin: 15px 0px;">KẾT QUẢ TÌM KIẾM</h4>
                    <div class="dropdown float-right">
                        <button class="" type="" id="menu1" data-toggle="dropdown" style="margin: 14px 0px; background-color: white; border: none;">
                            Sắp xếp giá
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="menu1">
                            <li><a href="#">Cao đến thấp</a></li>
                            <li><a href="#">Thấp đến cao</a></li>
                        </ul>
                    </div>
                </div>

                <!----- Phần hiển thị các sản phẩm ----->
                <div class="col-xs-12">
                    <a href="chiTietSanPham.html" class="col-lg-3 col-md-4 col-xs-6 prds" title="Samsung galaxy Note 10+">
                        <img src="../images/phone1_small_img.jpg" class="col-xs-12">
                        <h5 class="col-xs-12 products-title">Samsung galaxy Note 10+</h5>
                        <b class="col-xs-6">26.990.000đ</b>
                        <strike class="col-xs-6">26.500.000đ</strike>
                        <p class="col-xs-12">Hệ điều hành: <span>Android</span> </p>
                        <p class="col-xs-12">Ram: <span>6 GB</span> </p>
                        <p class="col-xs-12">Bộ nhớ trong: <span>128 GB</span> </p>
                        <p class="col-xs-12">Dung lượng pin: <span>4000 mAh</span> </p>
                    </a>
                    <a href="chiTietSanPham.html" class="col-lg-3 col-md-4 col-xs-6 prds" title="Samsung galaxy Note 10+">
                        <img src="../images/phone1_small_img.jpg" class="col-xs-12">
                        <h5 class="col-xs-12 products-title">Samsung galaxy Note 10+</h5>
                        <b class="col-xs-6">26.990.000đ</b>
                        <strike class="col-xs-6">26.500.000đ</strike>
                        <p class="col-xs-12">Hệ điều hành: <span>Android</span> </p>
                        <p class="col-xs-12">Ram: <span>6 GB</span> </p>
                        <p class="col-xs-12">Bộ nhớ trong: <span>128 GB</span> </p>
                        <p class="col-xs-12">Dung lượng pin: <span>4000 mAh</span> </p>
                    </a>
                    <a href="chiTietSanPham.html" class="col-lg-3 col-md-4 col-xs-6 prds" title="Samsung galaxy Note 10+">
                        <img src="../images/phone1_small_img.jpg" class="col-xs-12">
                        <h5 class="col-xs-12 products-title">Samsung galaxy Note 10+</h5>
                        <b class="col-xs-6">26.990.000đ</b>
                        <strike class="col-xs-6">26.500.000đ</strike>
                        <p class="col-xs-12">Hệ điều hành: <span>Android</span> </p>
                        <p class="col-xs-12">Ram: <span>6 GB</span> </p>
                        <p class="col-xs-12">Bộ nhớ trong: <span>128 GB</span> </p>
                        <p class="col-xs-12">Dung lượng pin: <span>4000 mAh</span> </p>
                    </a>
                    <a href="chiTietSanPham.html" class="col-lg-3 col-md-4 col-xs-6 prds" title="Samsung galaxy Note 10+">
                        <img src="../images/phone1_small_img.jpg" class="col-xs-12">
                        <h5 class="col-xs-12 products-title">Samsung galaxy Note 10+</h5>
                        <b class="col-xs-6">26.990.000đ</b>
                        <strike class="col-xs-6">26.500.000đ</strike>
                        <p class="col-xs-12">Hệ điều hành: <span>Android</span> </p>
                        <p class="col-xs-12">Ram: <span>6 GB</span> </p>
                        <p class="col-xs-12">Bộ nhớ trong: <span>128 GB</span> </p>
                        <p class="col-xs-12">Dung lượng pin: <span>4000 mAh</span> </p>
                    </a>
                    <a href="chiTietSanPham.html" class="col-lg-3 col-md-4 col-xs-6 prds" title="Samsung galaxy Note 10+">
                        <img src="../images/phone1_small_img.jpg" class="col-xs-12">
                        <h5 class="col-xs-12 products-title">Samsung galaxy Note 10+</h5>
                        <b class="col-xs-6">26.990.000đ</b>
                        <strike class="col-xs-6">26.500.000đ</strike>
                        <p class="col-xs-12">Hệ điều hành: <span>Android</span> </p>
                        <p class="col-xs-12">Ram: <span>6 GB</span> </p>
                        <p class="col-xs-12">Bộ nhớ trong: <span>128 GB</span> </p>
                        <p class="col-xs-12">Dung lượng pin: <span>4000 mAh</span> </p>
                    </a>
                    <a href="chiTietSanPham.html" class="col-lg-3 col-md-4 col-xs-6 prds" title="Samsung galaxy Note 10+">
                        <img src="../images/phone1_small_img.jpg" class="col-xs-12">
                        <h5 class="col-xs-12 products-title">Samsung galaxy Note 10+</h5>
                        <b class="col-xs-6">26.990.000đ</b>
                        <strike class="col-xs-6">26.500.000đ</strike>
                        <p class="col-xs-12">Hệ điều hành: <span>Android</span> </p>
                        <p class="col-xs-12">Ram: <span>6 GB</span> </p>
                        <p class="col-xs-12">Bộ nhớ trong: <span>128 GB</span> </p>
                        <p class="col-xs-12">Dung lượng pin: <span>4000 mAh</span> </p>
                    </a>
                    <a href="chiTietSanPham.html" class="col-lg-3 col-md-4 col-xs-6 prds" title="Samsung galaxy Note 10+">
                        <img src="../images/phone1_small_img.jpg" class="col-xs-12">
                        <h5 class="col-xs-12 products-title">Samsung galaxy Note 10+</h5>
                        <b class="col-xs-6">26.990.000đ</b>
                        <strike class="col-xs-6">26.500.000đ</strike>
                        <p class="col-xs-12">Hệ điều hành: <span>Android</span> </p>
                        <p class="col-xs-12">Ram: <span>6 GB</span> </p>
                        <p class="col-xs-12">Bộ nhớ trong: <span>128 GB</span> </p>
                        <p class="col-xs-12">Dung lượng pin: <span>4000 mAh</span> </p>
                    </a>
                    <a href="chiTietSanPham.html" class="col-lg-3 col-md-4 col-xs-6 prds" title="Samsung galaxy Note 10+">
                        <img src="../images/phone1_small_img.jpg" class="col-xs-12">
                        <h5 class="col-xs-12 products-title">Samsung galaxy Note 10+</h5>
                        <b class="col-xs-6">26.990.000đ</b>
                        <strike class="col-xs-6">26.500.000đ</strike>
                        <p class="col-xs-12">Hệ điều hành: <span>Android</span> </p>
                        <p class="col-xs-12">Ram: <span>6 GB</span> </p>
                        <p class="col-xs-12">Bộ nhớ trong: <span>128 GB</span> </p>
                        <p class="col-xs-12">Dung lượng pin: <span>4000 mAh</span> </p>
                    </a>
                    <a href="chiTietSanPham.html" class="col-lg-3 col-md-4 col-xs-6 prds" title="Samsung galaxy Note 10+">
                        <img src="../images/phone1_small_img.jpg" class="col-xs-12">
                        <h5 class="col-xs-12 products-title">Samsung galaxy Note 10+</h5>
                        <b class="col-xs-6">26.990.000đ</b>
                        <strike class="col-xs-6">26.500.000đ</strike>
                        <p class="col-xs-12">Hệ điều hành: <span>Android</span> </p>
                        <p class="col-xs-12">Ram: <span>6 GB</span> </p>
                        <p class="col-xs-12">Bộ nhớ trong: <span>128 GB</span> </p>
                        <p class="col-xs-12">Dung lượng pin: <span>4000 mAh</span> </p>
                    </a>
                    <a href="chiTietSanPham.html" class="col-lg-3 col-md-4 col-xs-6 prds" title="Samsung galaxy Note 10+">
                        <img src="../images/phone1_small_img.jpg" class="col-xs-12">
                        <h5 class="col-xs-12 products-title">Samsung galaxy Note 10+</h5>
                        <b class="col-xs-6">26.990.000đ</b>
                        <strike class="col-xs-6">26.500.000đ</strike>
                        <p class="col-xs-12">Hệ điều hành: <span>Android</span> </p>
                        <p class="col-xs-12">Ram: <span>6 GB</span> </p>
                        <p class="col-xs-12">Bộ nhớ trong: <span>128 GB</span> </p>
                        <p class="col-xs-12">Dung lượng pin: <span>4000 mAh</span> </p>
                    </a>
                    <a href="chiTietSanPham.html" class="col-lg-3 col-md-4 col-xs-6 prds" title="Samsung galaxy Note 10+">
                        <img src="../images/phone1_small_img.jpg" class="col-xs-12">
                        <h5 class="col-xs-12 products-title">Samsung galaxy Note 10+</h5>
                        <b class="col-xs-6">26.990.000đ</b>
                        <strike class="col-xs-6">26.500.000đ</strike>
                        <p class="col-xs-12">Hệ điều hành: <span>Android</span> </p>
                        <p class="col-xs-12">Ram: <span>6 GB</span> </p>
                        <p class="col-xs-12">Bộ nhớ trong: <span>128 GB</span> </p>
                        <p class="col-xs-12">Dung lượng pin: <span>4000 mAh</span> </p>
                    </a>
                    <a href="chiTietSanPham.html" class="col-lg-3 col-md-4 col-xs-6 prds" title="Samsung galaxy Note 10+">
                        <img src="../images/phone1_small_img.jpg" class="col-xs-12">
                        <h5 class="col-xs-12 products-title">Samsung galaxy Note 10+</h5>
                        <b class="col-xs-6">26.990.000đ</b>
                        <strike class="col-xs-6">26.500.000đ</strike>
                        <p class="col-xs-12">Hệ điều hành: <span>Android</span> </p>
                        <p class="col-xs-12">Ram: <span>6 GB</span> </p>
                        <p class="col-xs-12">Bộ nhớ trong: <span>128 GB</span> </p>
                        <p class="col-xs-12">Dung lượng pin: <span>4000 mAh</span> </p>
                    </a>

                    <div class="col-xs-12" style="margin: 15px 0px;">
                        <div class="more-products-btn">
                            <button type="button" class="btn btn-default" style="outline: 0;">
                                Xem thêm 100 điện thoại
                                <span class="glyphicon glyphicon-triangle-bottom"> </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---------- Include footer ---------->
    <% include elements/footer.ejs %>

    

</body>
</html>